<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="saluteHeader"><h1>hello {{ userName }}</h1></div>
            {% if message %}
                <div class="message"> <label> {{ message }} </label> </div>
            {% endif %}
            <div class="homeLinkButtons">
                <a class="linkButton" href="{{path('eventCreation')}}">create event</a>
                <a class="linkButton" href="{{path('updateProfile')}}">update profile</a>
            </div>
            <div class="eventsContainer">
                {% for event in events%}
                    <div class="eventInfo">
                        <br><br>
                        <label> event: </label> {{event.getName()}} <br>
                        <label> description: </label> {{event.getDescription()}} <br>
                        <label> address: </label> {{event.getaddress()}} <br>
                        <label> start date: </label> {{event.getStartDate() | date('d/m/Y')}} <br>
                        <label> end date: </label> {{event.getStartDate() | date('d/m/Y')}}
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
